.whatsapp-main{
    background: rgb(244, 244, 247);
    min-height: 100vh;
    font-family: system-ui;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)100%), url('https://cdn.pixabay.com/photo/2016/07/08/13/37/texture-1504364_960_720.jpg');
    background-position: center;
    background-size: cover;
}

.whatsapp-content{
    display: flex;
    flex-direction: column;
    margin: 0 10%;
    text-align: center;
}

.whatsapp-title{
    margin-top: 12%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
}