.liso1-main{
    background: rgb(244, 244, 247);
    min-height: 500px;
    font-family: system-ui;
}

.liso1-content{
    display: flex;
    flex-direction: row;
    margin: 0 10%;
    justify-content: space-between;
}

.liso1-title{
    margin-top: 10%;
    margin-right: 3%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 120%;
    max-width: 50%;
}

.liso1-show{
    margin: 10% 1% 10% 10%;
}

.liso1-show img{
    max-width: 130%;
}

.text-liso{
    margin-top: 15px;
}

@media screen and (max-width: 800px){
    .liso1-content{
        display: flex;
        flex-direction: column;
        margin: 0 10%;
    }

    .liso1-title{
        margin-top: 10%;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 80%;
        text-align: center;
        max-width: max-content;
    }

    .liso1-show{
        margin: 0;
        text-align: center;
    }

    .liso1-show img{
        width: 240px;
        height: 240px;
        margin: 10%;
    }
}