.usodiario-main{
    background: rgb(244, 244, 247);
    min-height: 500px;
    font-family: system-ui;
}

.usodiario-content{
    display: flex;
    flex-direction: column;
    padding: 10% 0;
    align-items: center;
}

.usodiario-title{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 120%;
    max-width: 50%;
    text-align: center;
}

.usodiario-show{
    margin-top: 10px;
}

.usodiario-show img{
    width: 700px;
}

.text-liso{
    margin-top: 15px;
}

@media screen and (max-width: 800px){
    .usodiario-content{
        margin: 0 10%;
    }

    .usodiario-title{
        margin-top: 10%;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 80%;
        text-align: center;
        max-width: max-content;
    }

    .usodiario-show{
        margin: 0;
        text-align: center;
    }

    .usodiario-show img{
        width: 240px;
        height: 240px;
        margin-top: 10%;
    }
}