.quimica2-main{
    background: rgb(244, 244, 247);
    min-height: 500px;
    font-family: system-ui;
}

.quimica2-content{
    display: flex;
    flex-direction: row;
    margin: 0 10%;
    justify-content: space-between;
}

.quimica2-title{
    margin-top: 10%;
    margin-right: 3%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
}

.quimica2-show{
    margin: 10% 10% 10% 1%;
}

.quimica2-show img{
    height: 100%;
    width: 100%;
}

.text-quimica{
    margin-top: 15px;
}