.cachos2-main{
    background: rgb(244, 244, 247);
    min-height: 500px;
    font-family: system-ui;
}

.cachos2-content{
    display: flex;
    flex-direction: row;
    margin: 0 10%;
    justify-content: space-between;
}

.cachos2-title{
    margin-top: 10%;
    margin-right: 3%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 120%;
    max-width: 50%;
}

.cachos2-show img{
    max-width: 130%;
}

.cachos2-show{
    margin: 10% 0;
}